.loading {
    position: relative;
    background-color: #E2E2E2;
    &.card-image {
        border-radius: 0;
    }
    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
        animation: loading 1.5s infinite;
    }
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.card-header.loading {
    height: 1.8rem;
}

.card-body.loading {
    height: 80px;
}